<div class="container">

  <h3>Edit User</h3>
  <hr/>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-md-5 pull-right">
      <h4>Change Email</h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, :placeholder => 'New Email', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="devise-text-pleasant">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Awaiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>

        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :current_password, :placeholder => 'Current password', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <div class="btn-toolbar">
          <div class="actions">
            <%= f.submit "Update", :class => 'btn btn-primary btn-sm' %>
          </div>
        </div>
      <% end %>

      <br/>
      <h4>Change password</h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
          <div class="input-group">
            <% if @minimum_password_length %>
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "New password (#{@minimum_password_length} characters minimum)", :class => 'form-control devise-form-field' %>
            <% else %>
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "New password", :class => 'form-control devise-form-field' %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => 'Confirm new password', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => 'Current password', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <div class="btn-toolbar">
          <div class="actions">
            <%= f.submit "Update", :class => 'btn btn-primary btn-sm' %>
          </div>
        </div>
        <br/>
      <% end %>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col pull-left">
      <h4>Change your info</h4>

      <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
        <%= f.fields_for :profile do |profile| %>
          <br/>
          <h6>Gender</h6>
          <div class="form-group">
            <div class="input-group">
              <%= profile.text_field :gender, :placeholder => 'Gender', :autocomplete => 'gender', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <h6>Location</h6>
          <div class="form-group">
            <div class="input-group">
              <%= profile.text_field :location, :placeholder => 'Location', :autocomplete => 'location', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <h6>Occupation</h6>
          <div class="form-group">
            <div class="input-group">
              <%= profile.text_field :occupation, :placeholder => 'Occupation', :autocomplete => 'occupation', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <h6>Interests</h6>
          <div class="form-group">
            <div class="input-group">
              <%= profile.text_field :interests, :placeholder => 'Interests', :autocomplete => 'interests', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <h6>Public Email</h6>
          <div class="form-group">
            <div class="input-group">
              <%= profile.text_field :public_email, :placeholder => 'Email', :autocomplete => 'public_email', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <h6>Discord</h6>
          <div class="form-group">
            <div class="input-group">
              <%= profile.text_field :discord, :placeholder => 'Discord', :autocomplete => 'discord', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text devise-form-input-prepend">instagram.com/</div>
              </div>
              <%= profile.text_field :instagram, :autocomplete => 'instagram', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text devise-form-input-prepend">twitter.com/</div>
              </div>
              <%= profile.text_field :twitter, :autocomplete => 'twitter', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text devise-form-input-prepend">github.com/</div>
              </div>
              <%= profile.text_field :github, :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text devise-form-input-prepend">crowdin.com/profile/</div>
              </div>
              <%= profile.text_field :crowdin, :autocomplete => 'crowdin', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text devise-form-input-prepend">steamcommunity.com/id/</div>
              </div>
              <%= profile.text_field :steam, :autocomplete => 'steam', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <h6>About me... (You may use html)</h6>
          <div class="row">
            <div class="form-group">
              <div class="input-group">
                <%= profile.text_area :about_me, :placeholder => 'Write something interesting...', :autocomplete => 'about_me', :class => 'form-control devise-form-field devise-text_area-field' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <%= f.password_field :current_password, :placeholder => 'Current password', :class => 'form-control devise-form-field' %>
            </div>
          </div>

          <div class="btn-toolbar">
            <div class="actions">
              <%= f.submit "Update", :class => 'btn btn-primary btn-sm' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# FIXME: Figure out what to do with accounts's cancellation %>
  <!--
   <h3>Cancel my account</h3>
   <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  -->

  <br/>
</div>
