<%= form_for @project do |f| %>
  <% if project.errors.any? %>
    <div class="container">
      <% project.errors.each do |error| %>
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
          <%= error.full_message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <h5>Project Info</h5>
      <hr class="mt-1"/>
      <div class="form-group">
        <div class="input-group">
          <%= f.text_field :name, :autofocus => true, :autocomplete => "name", :placeholder => "Project Name", :class => "form-control projects-form-field" %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <%= f.text_field :description, :autocomplete => "description", :placeholder => "Project Description", :class => "form-control projects-form-field" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Version Control</h5>
      <hr class="mt-1"/>

      <%= f.fields_for :repository do |r| %>
        <div class="form-group">
          <div class="input-group">
            <%= r.text_field :repo, :autocomplete => "repo", :placeholder => "Repository Name", :class => "form-control projects-form-field" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= r.text_field :description, :autocomplete => "description", :placeholder => "Repository Description", :class => "form-control projects-form-field" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= r.text_field :namespace, :autocomplete => "namespace", :placeholder => "Namespace/Organization", :class => "form-control projects-form-field" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= r.text_field :branch, :autocomplete => "branch", :placeholder => "Branch", :class => "form-control projects-form-field" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= r.text_field :host, :autocomplete => "host", :placeholder => "App Host", :class => "form-control projects-form-field" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= r.text_field :path, :autocomplete => "path", :placeholder => "Local Path", :class => "form-control projects-form-field" %>
          </div>
        </div>

        <div class="form-group">
          <%= r.select :provider, ['GitHub'], {}, {
              :class => 'form-control',
              :style => 'border-color: gray; color: #bdbdbd; background-color: #212121; display: inline-block; width: 25%; cursor: pointer;'
          } %>
        </div>

        <%= r.check_box :open %>
        <%= r.label "Public Repo" %>

        <br/>

        <%= r.check_box :visible %>
        <%= r.label "Visible at revisions tab" %>

    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5>Project README <small>HTML & Markdown allowed</small></h5>
      <hr class="mt-1"/>
      <div class="form-group">
        <div class="input-group">
          <%= f.text_area :readme, :autocomplete => "readme", :placeholder => "Long description...", :class => "form-control projects-form-field" %>
        </div>
      </div>
    </div>
  </div>
  <div align="center" class="form-group">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
    <a href="<%= projects_path %>" class="btn btn-primary" data-confirm="Are you sure?" >Back</a>
  </div>
<% end %>

