<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="project-name"><%= @project.name %></h3>
    </div>
    <div class="ml-auto mb-1 mr-3">
      <a href="<%= repository_path @project.slug %>" class="btn btn-primary btn-sm">Revisions</a>
      <% if user_signed_in? and current_user.admin? %>
        <a href="<%= projects_path %>" class="btn btn-primary btn-sm">Back</a>
        <a href="<%= edit_project_path(@project) %>" class="btn btn-primary btn-sm">Edit</a>
        <a href="<%= project_path(@project) %>" class="btn btn-primary btn-sm" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
      <% end %>
    </div>
  </div>

  <hr class="mt-1"/>

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Project Description
          </button>
          <div class="project-tags-container">
            <% @project.tags.each do |t| %>
              <%= render :partial => 'tags/tag', :locals => { :tag => t } %>
            <% end %>
          </div>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <%= render_pretty(@project.long_desc) %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            README
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="container readme">
          <%= render_pretty(@project.readme) %>
        </div>
      </div>
    </div>
  </div>

  <br/>

</div>
