<div class="container">

  <h3 class="tag-name"><%= @tag.name %></h3>
  <hr class="mt-1"/>

  <div class="row">
    <div class="col">
      <h5>Name: <b><%= @tag.name %></b></h5>
      <h5>Description: <b><%= @tag.description %></b></h5>
      <h5>Badge:
        <a href="<%= tag_path(@tag) %>" class="label" style="background-color: <%= @tag.color %>; color: white;">
          <%= @tag.name %>
        </a>
      </h5>

      <div class="mt-3"></div>

      <% if user_signed_in? and current_user.admin? %>
        <a href="<%= tags_path %>" class="btn btn-primary btn-sm">Back</a>
        <a href="<%= edit_tag_path(@tag) %>" class="btn btn-primary btn-sm">Edit</a>
        <a href="<%= tag_path(@tag) %>" class="btn btn-primary btn-sm" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
      <% end %>
    </div>
  </div>
</div>
