<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='website' property='og:type'>

    <meta content='<%= ORG::NAME %>' property='og:title'>
    <meta content="BGM's Personal Website" property="og:description">
    <meta content='#5C1427' name='theme-color'>

    <meta name="author" content="José Benavente">

    <title><%= ORG::NAME %></title>
    <%= favicon_link_tag("favicon.png") %>

    <base href="/">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JQuery & assets/javascripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap & Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>$(function() { $("[data-toggle='tooltip']").tooltip(); });</script>
    <script>$(document).ready(function() { $('[data-toggle="popover"]').popover(); });</script>
    <script>$(document).ready(function() { $('span.highlight > code').each(function(i, block) { hljs.highlightBlock(block); }); });</script>
    <script>$('.dropdown-toggle').dropdown();</script>
  </head>

  <body>
    <%= render 'peek/bar' %>
    <%= render :partial => 'application/nav' %>

    <div class="flash" style="margin-top: 34px;">
    </div>

    <%= yield %>

    <%= render :partial => 'alerts' %>
  </body>
  <footer>
    <%= render :partial => 'application/footer' %>
  </footer>
</html>
